@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter";
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900; /* This range covers all weights */
  font-display: swap;
  src: url('../public/assets/fonts/Inter-VariableFont.ttf') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900; /* This range covers all weights */
  font-display: swap;
  src: url('../public/assets/fonts/Inter-Italic-VariableFont.ttf') format('woff2');
}